/* 5 */

body {
    background-color: black;
}

.board {
    position: relative;
    width: 1024px;
    height: 865px;
    margin: 30px auto 0 auto;
    background: url(images/board.jpg) no-repeat;
}

.grid {
    position: relative;
    top: 98px;
    left: 172px;
}

.grid td {
    width: 92px;
    height: 92px;
}

.message-area {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    color: rgb(83, 175, 19);
    font-size: 2.6rem;
}

.launcher {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
}

.launcher input {
    background-color: rgb(193, 204, 186);
    border-color: rgb(83, 175, 19);
}

.hit {
    background: url(images/ship.png) no-repeat center center;
}

.miss {
    background: url(images/miss.png) no-repeat center center;
}